
body {
    background: tan;
    margin: 0;
    padding: 0;
    display: block;
}

.attack-type {
    display: flex;
    gap: 10px;
}

.attack-type label {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.attack-type label:hover {
    transform: scale(1.5);
	z-index: 105;
}

.attack-type input[type="radio"] {
    display: none; 
}

.weaponimage {
    width: 50px;
    height: 50px;
    transition: opacity 0.5s ease, box-shadow 0.3s ease;
    border-radius: 5px;
}

.attack-type input[type="radio"]:checked + .weaponimage {
    opacity: 1;
    box-shadow: 0 0 10px rgba(139, 0, 5, 0.7); /* Brighter blue glow */
}

@font-face {
    font-family: 'TitleFont';
    src: url('MountainKingRegular.ttf');
}

body, * {
    font-family: 'TitleFont', sans-serif;
}

.attack-type input[type="radio"]:checked + .weaponimage {
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.7); /* Brighter blue glow */
}



.parchment-image {
    position: absolute; 
    top: 175px;  
    left: 1px;
    width: 675px;
    height: 275px;
    z-index: -1;
}
.parchment-image-home {
    position: absolute; 
    top: 50px;  
    left: 1px;
    width: 700px;
    height: 600px;
    z-index: -1;
}
.attack-type {
    margin: 50px 0;
	margin-left: 190px;
}
.indexp {
	
	font-family: TitleFont;
	top: 50px;  
    margin-left: 80px;
	 font-size: 40px;
}
.weaponimage {
    width: 50px;
    height: auto;
}


.drawbutton, .newdeck {
    position: absolute;
    background: linear-gradient(to bottom, #654321 0%, #7a5230 20%, #8f6d3f 40%, #a5884d 60%, #ba9c5b 80%, #d0b069 100%);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: TitleFont;
    font-size: 16px;
    cursor: pointer;
    width: 80px; 
    height: 20px;
    transition: transform 0.2s ease-in-out; 
    z-index: 100;
}


.drawbutton {
    left: 250px;
    top: 190px;
    
}

.newdeck {
    left: 200px;
    top: 480px;
    width: 200px; 
    height: 50px;
}


.drawbutton:hover, .newdeck:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.cardsRemaining {
    position: absolute;
    top: 430px;
    left: 170px;
    font-size: 40px;
}

.cardtext {
    position: absolute;
    top: 240px;
    left: 100px;
    font-size: 20px;
}

.severity {
    position: absolute;
    top: 700px;
    left: 100px;
    font-size: 40px;
}


.faildecktxt {
    position: absolute;
    Left: 250px;
    font-family: TitleFont;
    font-size: 40px;
	
}

.pchdecktxt {
    position: absolute;
    Left: 140px;
    font-family: TitleFont;
    font-size: 40px;
	
}
.container {
	
    display: flex;
    gap: 15px;
	margin-left: 110px;
}


.btn {
    padding: 13px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}


.critical {
    background: linear-gradient(90deg, #654321 0%, #7a5230 20%, #8f6d3f 40%, #a5884d 60%, #ba9c5b 80%, #d0b069 100%);
}


.other {
    background: linear-gradient(90deg, #3f2a15 0%, #52371c 20%, #674422 40%, #7c5229 60%, #925f30 80%, #a76d36 100%);
}


.btn:hover {
    transform: scale(1.1);
}


.btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



div {
    font-family: TitleFont;
}
